html {
    position: relative;
    min-height: 100%;
}

body {
    color: #412A00;
    font-weight: bold;
    margin-bottom: 40px;
}

body:before {
    content: "";
    position: fixed;
    left: -10px;
    top: -10px;
    z-index: -1;
    display: block;
    background-image: url('../images/coffee.jpg');
    background-size: cover;
    width: 110%;
    height: 110%;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #412A00;
    padding-bottom: 10px;
}

main {
    background: #FFF2DB;
    width: 400px;
    margin: 50px auto;
    text-align: left;
    padding: 20px 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

.field {
    margin-bottom: 25px;
}

.field div {
    margin-top: 10px;
}

.field input {
    height: 2rem;
    padding: 0 10px;
    width: 210px;
}

#actionCall {
    width: 100%;
    height: 4rem;
    background: #412A00;
    color: #FFF2DB;
    cursor: pointer;
    border: none;
    border-bottom: 6px solid #180F00;
}

#actionCall:active {
    border: none;
    border-top: 6px solid #180F00;
}

#result {
    text-align: center;
}

#resultAmount,
.currency {
    font-size: 3rem;
}

.hidden {
    visibility: hidden;
}

footer {
    font-size: 0.9rem;
    position: absolute;
    height: 40px;
    bottom: 0;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}

footer a {
    color: #412A00;
    text-shadow: 1px 1px 2px #FFF2DB;
    text-decoration: none;
    padding: 0 10px
}

footer a:hover {
    text-decoration: underline;
}